.links__about {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1rem;
}

@media screen and (min-width: 704px) {
  .links__about {
    justify-content: space-evenly;
  }
}
