.photo__about {
  background-image: url(../../img/professional_photo.jpg);
  background-repeat: no-repeat;
  background-position: 0.1px;
  background-size: cover;
  border-radius: 50%;
  height: 6.1em;
  width: 6.1em;
}

@media screen and (min-width: 704px) {
  .photo__about {
    flex-shrink: 0;
    height: 141px;
    width: 141px;
  }
}

@media screen and (min-width: 1200px) {
  .photo__about {
    height: 368px;
    width: 368px;
  }
}
