.project_info__projects {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-shrink: 0;
}

.project_info__projects small {
  font-size: 0.875rem;
  display: block;
}

@media screen and (min-width: 1200px) {
  .project_info__projects {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
