.about-me {
  background-color: var(--azul);
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media screen and (min-width: 1200px) {
  .about-me > div {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
