.formations {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

@media screen and (min-width: 704px) {
  .formations {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
