.formation {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

@media screen and (min-width: 1200px) {
  .formation {
    padding-top: 3em !important;
    padding-bottom: 5em !important;
  }
}
