.stacks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  list-style: none;
  margin: 1em 0;
}

@media screen and (min-width: 704px) {
  .stacks {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .stacks {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
