.stack__stacks {
  height: 7.375rem;
  background-color: var(--branco-total);
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5em;
  padding: 1em;
  font-size: 1rem;
}

@media screen and (min-width: 1200px) {
  .stack__stacks {
    justify-content: space-between;
  }
}
